/**.full-body-container{
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    width:100%;
    height:100%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    background-image: black;
}**/
body{
    /**background-image: linear-gradient(45deg, #0C0032, #3500D3);;**/
    background-color: #1C1C1F;
}
.main{
    position: fixed;
    top: 50%;
    left: 50%;
    height: 1px;
    width: 1px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: -24vw -44vh 2px 2px #fff,38vw -4vh 0px 0px #fff,-20vw -48vh 1px 2px #fff,-39vw 38vh 3px 1px #fff,-42vw -11vh 0px 3px #fff,12vw 15vh 3px 3px #fff,42vw 6vh 3px 2px #fff,-8vw 9vh 0px 2px #fff,34vw -38vh 1px 0px #fff,-17vw 45vh 3px 1px #fff,22vw -36vh 3px 2px #fff,-42vw 1vh 1px 0px #fff;
    animation: zoom 10s alternate infinite;
}

@keyframes zoom {
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.5);
    }
}

#title-t{
    background: linear-gradient(to right, #b447fc, #db29ff);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.title-colors{
    display: flex;
    align-items: center;
    font-size: 48px;
    font-family: 'DM Sans', sans-serif;
}

.title-colors h1{
    margin-bottom: 0;
    margin-right: 3px;
}

.input-box{
    border-radius: 50px;
    border:1px solid black;
    display: flex;
    align-items: center;
    margin-top: 10px;
    padding:12px;
    width: 600px;
}

.input-box img{
    height: 20px;
    width:20px;
}

.top-text{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-box input{
    width: 100%;
    margin-left: 10px;
    font-size: 16px;
    border: none;
    outline: 0;
}

.labels{
    font-family: 'DM Sans', sans-serif;
}

#answer-box{
    width: 700px;
    margin-top:50px; 
}

.episode-title{
    font-family: 'Kanit', sans-serif;
}

.episode-desc{
    font-family: 'Montserrat', sans-serif;
}
select {
    appearance: none;
    border: 2px solid #ccc;
    border-radius: 20px;
    font-size: 16;
    padding: 10px;
    width: 250px;
    color: #444;
    background-color: #fff;
    margin-top: 1em;
    text-align: center;
  }
  
  select:focus {
    outline: none;
    border-color: #5d9cec;
  }
  
  option {
    font-size: 16px;
    color: #444;
    background-color: #fff;
  }

  .generate-playlist-btn {
    display: inline-block;
    background: linear-gradient(to right, #b447fc, #db29ff);
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
  }

  .generate-playlist-btn:hover {
    background: linear-gradient(to right, #a030e0, #c010e0);
  }

  .slider {
	width: 100%;
	height: 5px;
	background: #ddd;
	border-radius: 10px;
	outline: none;
	opacity: 0.7;
	-webkit-transition: .2s;
	transition: opacity .2s;
}
/**
.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: #2196f3;
	cursor: pointer;
}**/
.labels {
    display: flex; /* make the parent div a flex container */
    align-items: center; /* align the items along the center vertically */
    padding: 20px;
    color: white;
  }

input[type="range"]{
-webkit-appearance:none;
width:160px;
height:20px;
margin:0px 50px;
background: linear-gradient(to right, #c2c5f5 0%, #c2c5f5 100%);
background-size:150px 10px;
background-position:center;
background-repeat:no-repeat;
overflow:hidden;
outline: none;
}


input[type="range"]::-webkit-slider-thumb{
    -webkit-appearance:none;
    width:20px;
    height:20px;
    background:#294fd9;
    position:relative;
    z-index:3;
    box-shadow:0 0 5px 0 rgba(0,0,0,0.3);
  }

  input[type="range"]::-webkit-slider-thumb:after{
    content:" ";
    width:160px;
    height:10px;
    position:absolute;
    z-index:1;
    right:20px;
    top:5px;
    background: #ff5b32;
    background: linear-gradient(to right, #f088fc 1%, #AC6CFF 70%);
  }

.spacer {
    height: 2.5em;
}

ul li {
    color: white;
}

/* -- to use for the results page --*/
.header{
    text-align: center;
}

.header h1 {
    font-size: 48px;
    font-family: 'DM Sans', sans-serif;
    color: white;
    margin: 0;
}

.header .back {
    color: lightgray;
    font-family: 'DM Sans', sans-serif;
    text-decoration: underline;
    text-decoration-color: #8f3cee;
}

.full-body-container-2 {
    padding: 2em;
}

.card {
    width: 60vw;
    height: 20vh;
    background-color: #FFFFFF;
    border-radius: 10px;
    margin: 0.5em;

    font-family: 'DM Sans', sans-serif;
    color: #262B40;

    display: flex;
    justify-content: center;
    flex-direction: column;
}

.card-holder {
    margin: 2em;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.card-inner-flex{
    display: flex;
    flex-direction: row;
}

.card-inner-flex .album {
    height: 16vh;
    width: 16vh;
    margin-left: 1em;
    margin-right: 1em;
    border-radius: 5px;
}

.track a:link {
    text-decoration: none !important;
    color: #262B40 !important;
}

.card-inner-flex .track {
    margin-left: 1em;
    padding: 0;
    margin-bottom: 0;
    justify-content: center;
}

.card-inner-flex .card-title {
    padding: 0;
    margin: 0;
}

.card-inner-flex .card-artists{
    padding: 0;
    margin: 0;
}

#loading-wheel {
    display: none; /* initially hide the loading wheel */
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 5px solid rgba(0, 0, 0, 0.1);
    border-top-color: #3498db; /* choose a color for the loading wheel */
    animation: spin 1s infinite linear;
  }
  
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }