<!doctype html>
<title>{% block title %}{% endblock %} - Flaskr</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<!-- <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Kanit&family=Montserrat&family=Open+Sans:wght@500&display=swap" rel="stylesheet"> -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@1,700&display=swap" rel="stylesheet">

<body> 

    <div class="main"></div>
    <script src='js.js'></script>
    <div class="full-body-container">
        <div class="top-text">
            <div class="title-colors">
                <h1 id="title-t">PLAYLIST-TRAVELER</h1>
                
            </div>

            <select>
                <option value="option1">New York City, USA</option>
                <option value="option2">London, UK</option>
                <option value="option3">Mumbai, IND</option>
                <option value="option4">Sydney, AUS</option>
                <option value="option5">Tokyo, JPN</option>
              </select>

              <div class = "labels">
              <label for="slider" >Sad</label>
              <input type="range" min="0" max="100" value="50" class="slider">
              <label for="slider" >Happy</label>
              </div>
              
              <div class = "labels">
              <label for="slider2" >Calm</label>
              <input type="range" min="0" max="100" value="50" class="slider" id="slider2">
              <label for="slider2" >Angry</label>
            </div>
              
            <div class = "labels">
              <label for="slider3" >Peaceful</label>
              <input type="range" min="0" max="100" value="50" class="slider" id="slider3">
              <label for="slider3" >Energetic</label>
            </div>
              
        

                
            <a href="/my-link/">Click me</a>
              
            
            <!-- <div class="input-box" onclick="sendFocus()">
                <img src="{{ url_for('static', filename='images/mag.png') }}" />
                <input placeholder="Search for a Keeping up with the Kardashians episode" id="filter-text-val" onkeyup="filterText()">
            </div> -->
            
        </div>
        <div id="answer-box">

        </div>
    </div>

    

    <script>
        

        
        function answerBoxTemplate(title,titleDesc){
            return `<div class=''>
                <h3 class='episode-title'>${title}</h3>
                <p class='episode-desc'>${titleDesc}</p>
            </div>`
        }

        function sendFocus(){
            document.getElementById('filter-text-val').focus()
        }

        function filterText(){
            document.getElementById("answer-box").innerHTML = ""
            console.log(document.getElementById("filter-text-val").value)
            fetch("/episodes?" + new URLSearchParams({ title: document.getElementById("filter-text-val").value }).toString())
            .then((response) => response.json())
            .then((data) => data.forEach(row => {
                
                let tempDiv = document.createElement("div")
                tempDiv.innerHTML = answerBoxTemplate(row.title,row.descr)
                document.getElementById("answer-box").appendChild(tempDiv)
            }));

        }
            
    </script>
</body>