<!doctype html>

<head>
    <title>
        {% block title %} {% endblock %}
    </title>
    
    <!-- stylesheets -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">

    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&display=swap" rel="stylesheet">

    <!-- scripts -->
    <script src='js.js'></script>
</head>

<body>
    {% block body %} {% endblock %}
</body>

    
