{% extends 'base.html' %}

{% block title %}
why am i doing this
{% endblock %}

{% block body %}

<body>
    {% for item in data %}
    <svg id="svg{{ item['id'] }}" height=400 width=400></svg>
    {% endfor %}

    <script>
        const content = JSON.parse('{{ data | tojson }}');
        
        /*
        for (item in content) {

            let selection = content[item]
            let graphID = 'svg#svg' + selection.id;

            let svg = d3.select(graphID);

            let width = 400;
            let height = 400;

            let margin = {top: 10, right: 30, bottom: 70, left: 40};
            let chartWidth = width - margin.left - margin.right;
            let chartHeight = height - margin.top - margin.bottom;

            let annotations = svg.append('g').attr('id', 'annotations');
            let chartArea = svg.append('g')
                .attr('id', 'points').attr('transform', `translate(${margin.left}, ${margin.top})`);
            
            // --- SCALES & AXES --- 

            //  scaleLinear() for words in the dataset ... x axis
            const wordScale = d3.scaleLinear()
                .domain([0, 9])
                .range([0, chartWidth]);

            function roundTo10 (n) {
                return Math.ceil(n * 10)/10;
            }

            // scaleLinear() for song values  ... y axis Left
            const scoreScale = d3.scaleLinear()
                .domain([0, Math.ceil(Math.max(...selection['score_in_song']) * 10.0)/10.0])
                .range([chartHeight, 0]); // low values to the bottom

            // scaleLinear() for city values ... y axis right (not implemented rn)
            const scoreScale2 = d3.scaleLinear()
                .domain([0, Math.ceil(Math.max(...selection['score_in_city']) * 100.0)/100.0])
                .range([chartHeight, 0]);

            // left axis 
            let leftAxis = d3.axisLeft(scoreScale).ticks(10);;
            let leftGridlines = d3.axisLeft(scoreScale).ticks(10).tickSize(-chartWidth-10).tickFormat('');
            
            annotations.append('g')
                .attr('class', 'y axis')
                .attr('transform', `translate(${margin.left - 10}, ${margin.top})`)
                .call(leftAxis);
            
            /*
            annotations.append('g')
                .attr('class', 'y gridlines')
                .attr('transform', `translate(${margin.left - 10}, ${margin.top})`)
                .call(leftGridlines);
            
            
            // bottom axis
            let bottomAxis = d3.axisBottom(wordScale).tickFormat(x => `(${selection['best_words'][x]})`);
            let bottomGridlines = d3.axisBottom(wordScale).tickSize(-chartHeight-10);

            annotations.append('g')
                .attr('class', 'x axis')
                .attr('transform', `translate(${margin.left}, ${chartHeight+margin.top+10})`)
                .call(bottomAxis)
                .selectAll("text")  
                .style("text-anchor", "end")
                .attr("transform", "rotate(-65)");
            
            /*
            annotations.append('g')
                .attr('class', 'x gridlines')
                .attr('transform', `translate(${margin.left}, ${chartHeight+margin.top+10})`)
                .call(bottomGridlines);
            

            coords = []
            coords2 = []

            // GETTING POINT/LINE COORDS
            for (let i = 0; i < 10; i++) {
                coords.push([wordScale(i) + margin.left, scoreScale(selection['score_in_song'][i]) + margin.top]);
                coords2.push([wordScale(i) + margin.left, scoreScale2(selection['score_in_city'][i]) + margin.top]);
            }

            /* curve ? 
            svg.append('path')
                .attr('d', d3.line().curve(d3.curveNatural)(coords))
                .attr('stroke', 'dodgerblue')
                .attr('stroke-width', 3)
                .attr('fill', 'none');
            

            svg.append('path')
                .attr('d', d3.line()(coords))
                .attr('stroke', 'dodgerblue')
                .attr('stroke-width', 2)
                .attr('fill', 'none');
            
                svg.append('path')
                .attr('d', d3.line()(coords2))
                .attr('stroke', 'red')
                .attr('stroke-width', 2)
                .attr('fill', 'none');

            for (p in coords) {
                svg.append('circle')
                    .attr('cx', coords[p][0])
                    .attr('cy', coords[p][1])
                    .attr('r', 4)
                    .attr('fill', 'dodgerblue');
            }

            for (p in coords2) {
                svg.append('circle')
                    .attr('cx', coords2[p][0])
                    .attr('cy', coords2[p][1])
                    .attr('r', 4)
                    .attr('fill', 'red');
            }

        }
        */

        /*

        
        var margin = {
            top: 100,
            right: 100,
            bottom: 100,
            left: 100
        }, width = Math.min(700, window.innerWidth - 10) - margin.left - margin.right,
        height = Math.min(width, window.innerHeight - margin.top - margin.bottom - 20);

        var data = [
            [//iPhone
                {axis:"Battery",value:0.22},
                {axis:"Brand",value:0.28},
                {axis:"Contract",value:0.29},
                {axis:"Design",value:0.17},
                {axis:"Internet",value:0.22},
                {axis:"Screen",value:0.02},
                {axis:"Price",value:0.21},
                {axis:"Smartphone",value:0.50}			
            ],[//Samsung
                {axis:"Battery",value:0.27},
                {axis:"Brand",value:0.16},
                {axis:"Contract",value:0.35},
                {axis:"Design",value:0.13},
                {axis:"Internet",value:0.20},
                {axis:"Screen",value:0.13},
                {axis:"Price",value:0.35},
                {axis:"Smartphone",value:0.38}
            ],[//Nokia Smartphone
                {axis:"Battery",value:0.26},
                {axis:"Brand",value:0.10},
                {axis:"Contract",value:0.30},
                {axis:"Design",value:0.14},
                {axis:"Internet",value:0.22},
                {axis:"Screen",value:0.04},
                {axis:"Price",value:0.41},
                {axis:"Smartphone",value:0.30}
            ]
        ];

        var color = d3.scaleOrdinal()
				.range(["#EDC951","#CC333F","#00A0B0"]);
        
        var radarChartOptions = {
            w: width,
            h: height,
            margin: margin,
            maxValue: 0.5,
            levels: 5,
            roundStrokes: true,
            color: color
        }

        RadarChart(".radarChart", data, radarChartOptions);

        */ 
    </script>
</body>

{% endblock %}